{% extends "page-template.html" %} {% block content %}
<div
  data-bs-spy="scroll"
  data-bs-target="#side-scrollspy"
  data-bs-offset="0"
  data-bs-smooth-scroll="true"
  class="scrollspy-example"
  tabindex="0"
>
<section class="section-content">
 <h1 class="h2 text-darkest-gray mb-5">Dev Team</h1>
  <p class=text-dark-gray>O Time de Desenvolvimento realiza o trabalho de desenvolvimento do produto. Ele é multidisciplinar, o que significa que possui, em seus membros, todo o conhecimento necessário para realizar esse trabalho. O Time de 
  Desenvolvimento é também auto-organizado, ou seja, ele próprio define como irá
  </p>
</section>
{% endblock %}
