{% extends "page-template.html" %} {%block content %}
<div
  data-bs-spy="scroll"
  data-bs-target="#side-scrollspy"
  data-bs-offset="0"
  data-bs-smooth-scroll="true"
  class="scrollspy-example"
  tabindex="0"
>
  <h1 class="h2 text-darkest-gray mb-5">Scrum</h1>
  
  <section class="section-content" id="scrollspy-item-1">
    <h2 class="text-darkest-gray h3 mb-4">Metodologia Scrum</h2>
    <div class="d-flex flex-column gap-1">
      <p class="text-dark-gray">
        Scrum é um framework Ágil, simples e leve, utilizado para a gestão do desenvolvimento de produtos complexos imersos em ambientes complexos. Ele utiliza uma abordagem iterativa e incremental para entregar valor com frequência e, assim, reduzir os riscos do projeto.
      </p>
      <p class="text-dark-gray">
        Scrum é uma ferramenta que pode trazer diversos benefícios em comparação a outras formas de se conduzir projetos, mas somente se bem utilizada. Scrum pode permitir reduzir os riscos de insucesso, entregar valor mais rápido e desde cedo, e lidar com as inevitáveis mudanças de escopo, transformando-as em vantagem competitiva. Seu uso pode também aumentar a qualidade do produto entregue e melhorar a produtividade das equipes.
      </p>
      <p class="text-dark-gray">
        Ao aprender Scrum, você passará por termos como facilitação, trabalho em equipe, auto-organização, metas de negócios, motivação, relacionamento com os clientes, entre tantos outros. Scrum utiliza-se de poucos conceitos novos, e essa é uma de suas grandes qualidades: junta práticas de mercado já conhecidas e consagradas de uma forma organizada e que funciona.
      </p>
      <p class="text-dark-gray">
        Mas por que Scrum é uma boa escolha? É importante lembrar que não existe uma solução única para todos os problemas. Scrum é um framework simples e pequeno e, assim, funciona bem em cada contexto se for utilizado em conjunto com outras técnicas e práticas a serem experimentadas e adaptadas.
      </p>
    </div>
  </section>

  <hr class="divider" />

  <section>
    <h3 class="text-darkest-gray h3 mb-4" id="scrollspy-item-3">
      Os benefícios do Scrum
    </h3>

    <ul class="list-group list-group-flush custom-list">
      <li class="list-group-item text-muted pt-3 pb-3">
        Entregas frequentes de retorno ao investimento dos clientes;
      </li>
      <li class="list-group-item text-muted pt-3 pb-3">
        Redução dos riscos do projeto;
      </li>
      <li class="list-group-item text-muted pt-3 pb-3">
        Maior qualidade no produto gerado;
      </li>
      <li class="list-group-item text-muted pt-3 pb-3">
        Mudanças utilizadas como vantagem competitiva;
      </li>
      <li class="list-group-item text-muted pt-3 pb-3">
        Visibilidade do progresso do projeto;
      </li>
      <li class="list-group-item text-muted pt-3 pb-3">
        Redução do desperdício;
      </li>
      <li class="list-group-item text-muted pt-3 pb-3">
        Aumento da produtividade.
      </li>
    </ul>
    <h3 class="text-darkest-gray h3 mb-4" id="scrollspy-item-3">
      Scrum é Ágil
    </h3>
    <p class="text-dark-gray">
        Scrum é ágil porque, assim como outros métodos, metodologias e frameworks, sua utilização deve seguir os princípios e valores do Manifesto para o Desenvolvimento Ágil de Software.
    </p>
</div>

{% endblock %}