{% extends "page-template.html" %} {% block content %}
<h1 class="h2 text-darkest-gray mb-5">Sprint Retrospective</h1>
<section class="section-content" id="scrollspy-item-1">
    <div class="d-flex flex-column gap-1">
      <p class="text-dark-gray">
        Após a reunião de Sprint Review, Time de Desenvolvimento e Product
        Owner realizam a reunião de Sprint Retrospective, facilitados pelo ScrumMaster.
        Nela, ambos identificam o que foi bem no Sprint corrente, e que por essa razão pode ser mantido no próximo Sprint, e o que pode melhorar, buscando formas práticas e traçando planos de ação para fazê-lo. O objetivo desse processo de melhoria contínua é tornar o Time de Scrum cada vez mais efetivo. É onde o time avalia o que foi bem e o que precisa ser melhorado na sua forma de trabalho.
      </p>
      <p class="text-dark-gray">
        Uma vez terminada a reunião de Sprint Retrospective, está encerrado o Sprint. Um novo Sprint se inicia imediatamente após o término da anterior.
      </p>
       <p class="text-dark-gray">
      A reunião de Sprint Retrospective não deve ser utilizada para se identificarem ações de melhoria no produto, trabalho que acontece na reunião de
      Sprint Review.
      </p>
      <p class="text-dark-gray">
       O principal foco da reunião de Sprint Retrospective é a identificação do que
      precisa ser melhorado nos processos de trabalho do Time de Scrum. Por essa razão razão, é necessário que falhas ocorridas durante o Sprint que se encerra sejam identificadas e exploradas com franqueza. Assim, embora não se devam apontar erros individuais nessa reunião, o trabalho de inspeção envolve a capacidade dos participantes de expor, em algum grau, suas próprias limitações e pontos fracos e, principalmente, as do Time de Scrum como um todo.
      </p>
{% endblock %}
