{% extends "page-template.html" %} {% block content %}
<h1 class="h2 text-darkest-gray mb-5">Sprint Planning</h1>
<section class="section-content" id="scrollspy-item-1">
    <div class="d-flex flex-column gap-1">
      <p class="text-dark-gray">
        O Sprint Planning é a reunião onde se inicia o Sprint, na qual se planeja o
        trabalho a ser realizado no próprio Sprint.
      </p>
      <p class="text-dark-gray">
        Nessa reunião, Time de Desenvolvimento e Product Owner negociam, a partir dos itens do alto do Product Backlog, o que será desenvolvido. Ou seja, facilitados pelo ScrumMaster, eles selecionam um conjunto de itens do alto do Product Backlog que julgam ser capazes de desenvolver na duração do Sprint, o que é apenas uma previsão, e estabelecem um objetivo ou meta de negócios a ser alcançada com o desenvolvimento desses itens, chamada de Meta do Sprint. O Time de Desenvolvimento, então, se compromete com atingir essa Meta do Sprint.
        Os membros do Time de Desenvolvimento definem, durante a reunião de Sprint
        Planning, como o trabalho será realizado.
      </p>
      <p class="text-dark-gray">
        É importante que os itens do alto do Product Backlog estejam preparados para que a reunião de Sprint Planning seja eficiente e produtiva. Itens que chegam à reunião sem detalhes suficientes, por exemplo, podem colocar todo o Sprint em risco.
      </p>
{% endblock %}
