{%extends "page-template.html"%}{% block content %}
<div
  class="{% if projetos != [] %}d-xl-none{% endif %} d-block d-flex justify-content-center mb-4"
>
  {% with class="w-auto gap-5" %} {% include"components/create-project-btn.html" %}
  {% endwith %}
</div>
<p class="text-light-gray text-center flex-1">
  {% if projetos != [] %} Selecione um projeto para ver o relatório gerado a
  partir das respostas obtidas no formulário avaliativo.
  <span class="text-primary fw-bold">Ou</span>, adicione um novo projeto. {%
  else %} <span class="text-primary fw-bold">Adicione um projeto</span> para
  poder visualizar o relatório gerado a partir das respostas coletadas do
  formulário avaliativo. {% endif %}
</p>

      <div>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <div class="text-center text-danger">{{message}}</div>
        {% endfor %} {% endif %} {% endwith %}
      </div>
{% endblock %}
{% block body_end %}
  {% include "components/modal-project.html" %}
  {% include "components/modal-deleção.html" %}
{% endblock %}
