{%extends "page-template.html"%}{% block content %}
<div
  class="{% if projetos != [] %}d-xl-none{% endif %} d-block d-flex justify-content-center mb-4"
>
  {% with class="w-auto gap-5" %} {% include"components/create-project-btn.html" %}
  {% endwith %}
</div>
<p class="text-light-gray text-center flex-1">
  {% if projetos != [] %} Selecione um projeto para ver o relatório gerado a
  partir das respostas obtidas no formulário avaliativo.
  <span class="text-primary fw-bold">Ou</span>, adicione um novo projeto. {%
  else %} <span class="text-primary fw-bold">Adicione um projeto</span> para
  poder visualizar o relatório gerado a partir das respostas coletadas do
  formulário avaliativo. {% endif %}
</p>

<!-- Modal de criar projeto -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criar Novo Projeto</h5>
      </div>
      
      <div class="modal-body">
        <form method = "POST" id="createProjectForm">
           {{form_cria_projeto.csrf_token}}
           {{form_cria_projeto.hidden_tag()}}
          <div class="form-group">
            {{form_cria_projeto.project_name.label}}
            {{form_cria_projeto.project_name}}
          </div>

       
     
            <div class="modal-footer">
          {{form_cria_projeto.submit_button}}
           </div>
        </form>
      </div>
      
     
    </div>
  </div>
</div>

{% endblock %}
