{%extends "page-template.html"%}{% block content %}
<div class="d-xl-none d-block mb-4">
  {% with class="w-auto gap-5" %} {% include"components/create-project-btn.html" %}
  {% endwith %}
</div>
<p class="text-dark-gray">Relatório {{relatorio}} em breve...🚧</p>
<form method="POST">
  {{form_del.csrf_token}}
  {{form_del.hidden_tag()}}
  {{form_del.project_del_confirm.label}}
  {{form_del.project_del_confirm}}
  <br>
  {{form_del.submit_button_del}}
   <div>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <div class="text-center text-danger">{{message}}</div>
        {% endfor %} {% endif %} {% endwith %}
      </div>


</form>



{% endblock %}
