{%extends "page-template.html"%}{% block content %}
<div class="d-xl-none d-block mb-4">
  {% with class="w-auto gap-5" %} {% include"components/create-project-btn.html" %}
  {% endwith %}
</div>

{% if form_info != [] %}
<section>
  <h3 class="fw-bold mb-5">Relatório sobre {{projeto.nome_projeto}} </h3>
  <h4 class="fw-bold text-muted mb-3">Informações gerais sobre a qualidade entregue no {{projeto.nome_projeto}}</h4>
  <p class="text-dark-gray ">A nota de qualidade para o projeto selecionado é calculado a partir das médias e notas adquiridas com o envio dos formulários que, contém perguntas de quatro alternativas pontuadas de 1 a 4. Após envio do formulário, o peso de cada processo do SCRUM é definido e assim uma nota geral ao projeto como um todo é formada.</p>

  <div class="info-chart-container d-flex justify-content-evenly p-4 mt-5 rounded">
    <div class="text-center align-items-end">
      <h5 class="mb-0 fw-bold text-primary">Qualidade {{qualidade}}</h5>
      <p class="small text-secondary fw-bold mb-0">Qualidade dos Processos do projeto</p>
    </div>
    <div class="text-center align-items-end">
      <h5 class="mb-0 fw-bold text-primary">{{pont_final}}/100</h5>
      <p class="small text-secondary fw-bold mb-0">Nota Atribuída</p>
    </div>
    <div class="text-center align-items-end">
      <h5 class="mb-0 fw-bold text-primary">{{maior_resultado}}</h5>
      <p class="small text-secondary fw-bold mb-0">Processo com maior nota</p>
    </div>
    <div class="text-center align-items-end">
      <h5 class="mb-0 fw-bold text-primary">{{menor_resultado}}</h5>
      <p class="small text-secondary fw-bold mb-0">Processo com menor nota</p>
    </div>
  </div>
</section>

<section class="d-flex flex-column">
  <h4 class="fw-bold text-muted mb-3">Qualidade das respostas por sessão</h4>
  <div class="p-3 w-60 align-self-center">
    <div>
      <canvas id="myChart"></canvas>
    </div>
  </div>

   <div class="container border rounded p-4 mt-5">
    <div class="d-flex flex-column gap-1">
      <b class="small mb-2">Legenda para o gráfico de qualidade das respostas por processo</b>
      <p class="text-dark-gray small">
        O gráfico separa as sessões por nível de qualidade a partir de sua média calculada em todos os formulários enviados por seus funcionários. Existem 12 sessões totais, as quais <span class="text-chart-green fw-bold">{{dados_pie.contagens.verde}}</span> demonstram qualidade alta, <span class="text-chart-yellow fw-bold">{{dados_pie.contagens.amarelo}}</span> qualidade média e <span class="text-chart-red fw-bold">{{dados_pie.contagens.vermelho}}</span> qualidade baixa.
      </p>
      <i class="small text-dark-gray mb-5">As alternativas das questões respondidas registram notas de 1 (a mais baixo) a 4 (a mais alta)</i>
      <div class="qualidade-container d-flex {% if dados_pie.contagens.verde == 12 or dados_pie.contagens.amarelo == 12 or dados_pie.contagens.vermelho == 12 %} justify-content-start ps-5 {% else %} justify-content-evenly {% endif %}">

        {% if dados_pie.contagens.verde != 0 %}
        <div>
          <div class="d-flex gap-2 align-items-center justify-content-center mb-3">
            <span class="p-3 rounded-circle" style="background-color: #10B981;"></span>
            <div>
              <h6 class="text-uppercase small text-dark-gray mb-0" style="font-weight: 800;">Qualidade Alta</h6>
              <p class="small text-light-gray mb-0">Notas maiores que 3</p>
            </div>
          </div>
          
          <ul class="list-group list-group-flush list-group-bullet custom-list">
            {% for sessao in dados_pie.sessoes.verde %}
              <li class="list-group-item text-muted p-1 small border-0 text-dark-gray">
                {{sessao}}
              </li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if dados_pie.contagens.verde and dados_pie.contagens.amarelo %}
          <span class="vertical-divider"></span>
        {% endif %}

        {% if dados_pie.contagens.amarelo != 0 %}
        <div>
          <div class="d-flex gap-2 align-items-center justify-content-center mb-3">
            <span class="p-3 rounded-circle" style="background-color: #FCD34D;"></span>
            <div>
              <h6 class="text-uppercase small text-dark-gray mb-0" style="font-weight: 800;">Qualidade Média</h6>
              <p class="small text-light-gray mb-0">Notas entre 2 e 3</p>
            </div>
          </div>
           <ul class="list-group list-group-flush list-group-bullet custom-list">
            {% for sessao in dados_pie.sessoes.amarelo %}
              <li class="list-group-item text-muted p-1 small border-0 text-dark-gray">
                {{sessao}}
              </li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if dados_pie.contagens.amarelo and dados_pie.contagens.vermelho %}
          <span class="vertical-divider"></span>
        {% endif %}
        
        {% if dados_pie.contagens.vermelho != 0 %}
        <div>
          <div class="d-flex gap-2 align-items-center justify-content-center mb-3">
            <span class="p-3 rounded-circle" style="background-color: #EF4444;"></span>
            <div>
              <h6 class="text-uppercase small text-dark-gray mb-0" style="font-weight: 800;">Qualidade Baixa</h6>
              <p class="small text-light-gray mb-0">Notas menores que 2</p>
            </div>
          </div>
           <ul class="list-group list-group-flush list-group-bullet custom-list">
            {% for sessao in dados_pie.sessoes.vermelho %}
              <li class="list-group-item text-muted p-1 small border-0 text-dark-gray">
                {{sessao}}
              </li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      
    </div>
  </div>
</section>

<section>
  <h4 class="fw-bold text-muted mb-3">Notas de cada sessão avaliada</h4>
  <i class="small text-dark-gray">As alternativas das questões respondidas registram notas de 1 (a mais baixo) a 4 (a mais alta)</i>

  <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="first-tab" data-bs-toggle="tab" data-bs-target="#first-content" type="button" role="tab" aria-controls="first-content" aria-selected="true">Primeira Metade</button>
    </li>
        
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="second-tab" data-bs-toggle="tab" data-bs-target="#second-content" type="button" role="tab" aria-controls="second-content" aria-selected="false">Segunda Metade</button>
    </li>
  </ul>

  <div class="tab-content bg-white p-3 border-end border-bottom border-start charts-container" id="myTabContent"> 
    <div class="tab-pane fade show active" id="first-content" role="tabpanel" aria-labelledby="first-tab" tabindex="0">
      <p class="mt-3 small text-center mb-5 text-muted fw-bold">Gráfico da Sessão de Incremento do Produto até Sprint Backlog</p>
      <div class="w-80 m-auto">
        <div class="bar-chart-container">
          <canvas id="primeiraMetade"></canvas>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="second-content" role="tabpanel" aria-labelledby="second-tab" tabindex="0">
       <p class="mt-3 small text-center mb-5 text-muted fw-bold">Gráfico da Sessão de Product Backlog até Story Point</p>
      <div class="w-80 m-auto">
        <div class="bar-chart-container">
          <canvas id="segundaMetade"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <h4 class="fw-bold text-muted mb-5">Informações gerais sobre cada formulário enviado</h4>

  <p class="small text-muted fw-bold">Tabela indicando informações gerais sobre cada formulário enviado</p>
  <div class="table-responsive-md">
    <table class="table table-bordered table-lg">
    <thead>
      <tr>
        <th scope="col" class="text-dark-gray p-3">Formulário</th>
        <th scope="col" class="text-dark-gray p-3 text-center">Nota Atríbuida</th>
        <th scope="col" class="text-dark-gray p-3 text-center">Qualidade dos Processos</th>
        <th scope="col" class="text-dark-gray p-3 text-center">Melhor Nota</th>
        <th scope="col" class="text-dark-gray p-3 text-center">Pior Nota</th>
      </tr>
    </thead>
    <tbody>
      {% for linha in dados_table %}
      <tr>
        <td class="p-3">Formulário {{loop.index}}</td>
        <td class="text-center text-darkest-gray p-3">{{linha.nota_final}}</td>
        <td class="text-center text-darkest-gray p-3">{{linha.qualidade_processos}}</td>
        <td class="text-center text-darkest-gray p-3">{{linha.melhor}}</td>
        <td class="text-center text-darkest-gray p-3">{{linha.pior}}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
  
</section>

{% else %}
<div>
  <h3 class="fw-bold mb-4">Relatório sobre {{projeto.nome_projeto}} </h3>
  <p class="text-light-gray">Nenhum formulário foi enviado para este projeto.</p>
</div>
{% endif %}

{% include"components/delete-project-btn.html" %}
{% endblock %}
{% block body_end %}
  {% include "components/modal-project.html" %}
  {% include "components/modal-deleção.html" %}

<script>

  const dados_graficos = {
    verde: {{ dados_pie.contagens.verde|tojson|safe }},
    amarelo: {{ dados_pie.contagens.amarelo|tojson|safe }},
    vermelho: {{ dados_pie.contagens.vermelho|tojson|safe }},
  };  


    const totalNotas = dados_graficos.verde + dados_graficos.amarelo + dados_graficos.vermelho;

    if (totalNotas > 0) {
        const ctx = document.getElementById('myChart');
        
        const data = {
            labels: [
                'Qualidade Alta', 
                'Qualidade Média', 
                'Qualidade Baixa'
            ],
            datasets: [{
                label: 'Contagem de Notas',
                data: [
                    dados_graficos.verde,  // Contagem de notas verdes
                    dados_graficos.amarelo, // Contagem de notas amarelas
                    dados_graficos.vermelho // Contagem de notas vermelhas
                ],
                backgroundColor: [
                    '#10B981', 
                    '#FCD34D', 
                    '#EF4444'
                ],
                hoverOffset: 12,
                borderWidth: 1,
                borderColor: '#ffffff'
            }]
        };

        new Chart(ctx, {
            type: 'pie',
            data: data
        });

    } 

    const labelsPrimeiraMetade = {{ (dados_bar | list)[:6] | tojson }};
    const valoresPrimeiraMetade = {{ (dados_bar.values() | list)[:6] | tojson }};
 
    const labelsSegundaMetade = {{ (dados_bar | list)[6:] | tojson }};
    const valoresSegundaMetade = {{ (dados_bar.values() | list)[6:] | tojson }};


    const dataPrimeira = {
      labels: labelsPrimeiraMetade,
      datasets: [{
        label: 'Média das sessões de todos os formulários enviados',
        data: valoresPrimeiraMetade,
        backgroundColor: [
          'rgba(82, 102, 236, 0.5)',
        ],
        borderColor: [
          'rgb(82, 102, 236)',
        ],
        borderWidth: 1
      }]
    };

    const dataSegunda = {
      labels: labelsSegundaMetade,
      datasets: [{
        label: 'Média das sessões de todos os formulários enviados',
        data: valoresSegundaMetade,
        backgroundColor: [
          'rgba(82, 102, 236, 0.5)',
        ],
        borderColor: [
          'rgb(82, 102, 236)',
        ],
        borderWidth: 1
      }]
    };

    const config_primeiraMet = {
      type: 'bar',
      data: dataPrimeira,
      options: {
        layout: {
              padding: {
                  bottom: 40 
              }
        },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          x: {
            ticks: {
                maxRotation: 50,
                minRotation: 50,
            }
        },
          y: {
            min: 0,
            max: 4,
            ticks: {
              stepSize: 1
            }
          }
        }
      },
    };

    const config_segundaMet = {
      type: 'bar',
      data: dataSegunda,
      options: {
        layout: {
              padding: {
                  bottom: 40 
              }
        },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          x: {
            ticks: {
                maxRotation: 50, 
                minRotation: 50,
            }
        },
          y: {
            min: 0,
            max: 4,
            ticks: {
              stepSize: 1
            }
          }
        }
      },
    };

    const ctx_primeiraMet = document.getElementById('primeiraMetade');
    const ctx_segundaMet = document.getElementById('segundaMetade');

    new Chart(ctx_primeiraMet, config_primeiraMet);
    new Chart(ctx_segundaMet, config_segundaMet);
    

 
</script>

{% endblock %}
