<div class="accordion sidebar" id="{{idAccordion}}">
  {%for projeto in projetos %}
  <t-accordion
    accordionParent="{{idAccordion}}"
    soloLink="{{url_for('relatorio', id_relatorio=projeto.id)}}"
    title="{{projeto.nome}}"
    isSolo="{{True}}"
    isSidebarAdm = True
    content = "{% include 'components/delete-project-btn.html' %}"
  ></t-accordion>
  
  {% endfor %}
</div>
<div class="d-xl-block d-none">
  {% with class="w-100" %} {% include "components/create-project-btn.html" %} {%
  endwith %}
</div>
