{% extends "index.html" %} {% block content %}
<div
  data-bs-spy="scroll"
  data-bs-target="#side-scrollspy"
  data-bs-offset="0"
  data-bs-smooth-scroll="true"
  class="scrollspy-example"
  tabindex="0"
>
  <h4 id="scrollspy-item-1">Item 1</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas explicabo
    facilis cum illo vel ipsa quos recusandae, repellat ipsum maxime, assumenda
    perspiciatis consectetur non praesentium quisquam culpa voluptatibus
    voluptatem totam unde velit! Soluta aliquid minima omnis doloribus itaque,
    ratione repellat illo explicabo. Modi, voluptatum? Minus tempore fugit
    dolorum praesentium, eos reprehenderit molestiae, excepturi delectus eum
    quas facilis aliquam repellendus sunt? Obcaecati debitis, cupiditate
    blanditiis laudantium, dicta recusandae, ea sint dolores nisi doloremque
    fugit animi rerum? Doloremque corrupti numquam maiores doloribus mollitia
    commodi beatae obcaecati porro quasi voluptas, omnis possimus, recusandae
    repellendus ut autem sequi quo minima nam minus provident, ullam vel est
    dolore et. Ipsum amet quia doloribus eaque pariatur quae nostrum aspernatur,
    aut totam magni, cupiditate quas iure quos voluptatibus dolorum dignissimos
    tempore deserunt sequi, corporis temporibus minus. Cum nesciunt consectetur
    dicta facere maxime culpa enim hic eveniet, nobis dolorum ipsum incidunt,
    ipsam pariatur dignissimos tempore! Est tempora unde minima dicta culpa ipsa
    quibusdam rerum, sunt quis obcaecati libero quaerat ratione inventore maxime
    officia perspiciatis. Obcaecati architecto nulla ea dolores neque officiis,
    sit deleniti ab porro atque esse fugit quidem quibusdam a provident non?
    Quam illum corrupti vitae exercitationem blanditiis eveniet? At modi cum non
    veniam amet provident praesentium!
  </p>
  <h4 id="scrollspy-item-2">Item 2</h4>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur veniam
    ducimus nostrum ut blanditiis, voluptas aliquam eligendi facere similique
    sequi quod quos delectus praesentium vitae ea fuga deleniti repellat
    consequatur earum consectetur est. Iste ab accusamus ipsum at quisquam
    placeat corporis inventore aspernatur veniam ex vel odit in distinctio, enim
    omnis aperiam culpa optio aliquam quas voluptas laborum. Ipsam accusantium
    velit similique soluta ab perspiciatis ex nisi dolorum aut labore, neque
    deserunt illo voluptatibus a aliquid commodi dolorem numquam suscipit autem
    nesciunt repellat. Maxime enim iusto, quasi nobis sit ipsam repellat,
    voluptatum obcaecati corrupti accusantium delectus sapiente ex nostrum sed
    voluptate dolore? Sint quae ipsam, error ea, iste harum nobis laborum magni
    voluptas ipsum in modi recusandae soluta expedita veniam velit. Praesentium
    suscipit eius, iure mollitia nam ut. Ex omnis hic quos, sint minus placeat
    tempore unde molestias, sunt, maiores numquam eos dolorem voluptatibus
    veniam voluptates officiis impedit ut perspiciatis nemo temporibus quod
    blanditiis voluptate? Officiis autem blanditiis repellendus quaerat dolorum,
    dolorem, repudiandae doloremque reprehenderit ad optio exercitationem
    asperiores nulla modi mollitia sapiente quasi quidem qui praesentium maxime
    fugiat explicabo inventore non molestias nobis. At odio ex rem consequatur
    perspiciatis a vel amet assumenda vero eum dolorem saepe ad provident illum
    id ratione praesentium, ipsam deleniti nihil. Voluptatum, voluptate?
    Accusantium velit labore dolore sed totam enim dolorum mollitia minima
    aspernatur ea quis excepturi repellendus facere eveniet, vero repellat
    laborum quos incidunt iusto corporis ullam inventore fugiat? Error dolorum
    expedita sint adipisci perspiciatis obcaecati ea tempore sed, non
    consequuntur in perferendis soluta molestiae rem commodi incidunt animi
    similique porro vitae! Reprehenderit quae quas, non ratione enim nemo
    quibusdam obcaecati dolorem eveniet adipisci reiciendis alias. Excepturi
    minima porro sint, vero ex laboriosam quas possimus autem ut, impedit est.
    Neque repellat quam repudiandae commodi iusto deleniti corrupti eaque
    ratione nihil ullam qui quae dolorem, in sint est asperiores quisquam, ex
    vero cupiditate dolorum saepe, exercitationem eum aperiam quod. Provident
    quam nesciunt eaque, maxime excepturi ullam nobis earum, fugiat quisquam
    aliquid tempora enim harum, nihil doloremque! Laborum veritatis sequi
    recusandae voluptatum aspernatur, magni voluptatem, consequuntur obcaecati
    iure nesciunt hic. Eius possimus iste natus, repellat, expedita nobis
    deserunt quae iure quidem nemo fuga reprehenderit debitis recusandae veniam
    ut corrupti suscipit quam labore est impedit itaque a! Repellendus eum,
    natus explicabo ab numquam minus sed consequatur quas quisquam quasi
    corrupti hic nemo cupiditate officiis earum voluptate doloremque enim
    placeat perferendis sunt veritatis repudiandae ipsam! Provident eum debitis
    unde iusto cupiditate quis, quibusdam veniam ex. Blanditiis reprehenderit
    eos animi laborum atque quam natus totam saepe illum consequatur voluptas,
    iste libero, impedit quos error ullam vero sunt? Consequuntur, commodi.
    Temporibus aperiam tempore, quod odit ipsa modi tenetur consequatur iure
    deleniti perferendis ut, excepturi, vitae beatae delectus error magni? Nemo
    esse nulla maxime excepturi facere in dolorem, tempore ducimus deleniti
    accusamus eius veritatis dolores ipsum? Consequatur amet saepe, voluptas
    distinctio fugit laboriosam a, praesentium deserunt provident, illo
    consequuntur officia corporis in hic rem voluptatum similique tempora
    eveniet magni commodi aperiam aliquam eius dolorem est. Eligendi laudantium
    provident ullam repellat?
  </p>
  <h4 id="scrollspy-item-3">Item 3</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro excepturi
    molestiae cum illo. Voluptates quae dolore quos ab cupiditate quaerat!
  </p>
  <h4 id="scrollspy-item-4">Item 4</h4>
  <p>...</p>
</div>
{% endblock %}
