<div class="accordion sidebar" id="accordionExample">
  <t-accordion
    title="PrimeirosPassos"
    accordionParent="accordionExample"
    initialState="true"
  >
    <ul class="navbar-nav ms-3">
      <t-menu-link title="Scrum"></t-menu-link>
    </ul>
  </t-accordion>

  <t-accordion title="Sprint" accordionParent="accordionExample">
    <ul class="navbar-nav ms-3">
      <t-menu-link title="Sprint"></t-menu-link>
    </ul>
  </t-accordion>

  <t-accordion title="Papéis" accordionParent="accordionExample">
    <ul class="navbar-nav ms-3">
      <t-menu-link title="Product Owner"></t-menu-link>
      <t-menu-link title="Scrum Master"></t-menu-link>
      <t-menu-link title="Time de desenvolvimento"></t-menu-link>
    </ul>
  </t-accordion>
</div>
