<div class="accordion sidebar" id="accordionsSidebar">
  {% for nav_item in navigation %}
  <t-accordion
    title="{{ nav_item.topic.name if not nav_item.topic.solo_item else '' }}"
    accordionParent="accordionsSidebar"
    initialState="{{ 'true' if nav_item.initialState else 'false' }}"
  >
    {% if nav_item.topic.solo_item %}
    <t-menu-link
      title="Item solitário"
      linkFunc="#"
      class="custom-button"
    ></t-menu-link>
    {% else %} {% for sub_nav_item in nav_item.subtopic %}
    <ul class="navbar-nav">
      <t-menu-link
        title="{{sub_nav_item.name}}"
        linkFunc="{{url_for(sub_nav_item.endpoint)}}"
        linkUrl="{{ '/' if sub_nav_item.endpoint == 'homepage' else sub_nav_item.endpoint|kebabify }}"
      ></t-menu-link>
    </ul>
    {% endfor %} {% endif %}
  </t-accordion>
  {% endfor %}
</div>
