{% extends "page-template.html" %} {% block content %}
<h1 class="h2 text-darkest-gray mb-5">Daily Scrum</h1>
<section class="section-content">
  <div class="d-flex flex-column gap-1">
    <p class="text-dark-gray">
      A Daily Scrum é uma reunião que acontece em cada dia de trabalho de
      desenvolvimento, onde os membros do Time de Desenvolvimento se encontram
      por no máximo quinze minutos, preferencialmente no mesmo horário e local
      com o objetivo de garantir a visibilidade de seu trabalho entre eles e
      planejar, informalmente, o próximo dia de trabalho. O ScrumMaster pode, se
      necessário, facilitar essa reunião, mas sua presença não é obrigatória.
    </p>
    <p class="text-dark-gray">
      Em uma reunião de Daily Scrum é esperado que cada membro do Time de
      desenvolvimento informe o que já foi feito, o que ainda falta fazer e se
      há algum tipo de impedimento que esteja atrapalhando o desenvolvimento da
      atividade.
    </p>
  </div>
</section>

<section class="section-content">
  <h2 class="text-darkest-gray h3 mb-4">Impedimentos</h2>
  <div class="d-flex flex-column gap-1">
    <p class="text-dark-gray">
      Um impedimento é qualquer obstáculo ou barreira que dificulta ou paralisa
      o trabalho do Time de Desenvolvimento, ameaçando a meta do Sprint.
      Informa-se o impedimento ao ScrumMaster assim que ele é identificado, de
      forma que possa ser tratado o mais rapidamente possível. O objetivo de se
      informar, durante a reunião de Daily Scrum, quais impedimentos surgiram
      desde a última reunião é apenas o de dar visibilidade a todos os membros
      do Time de Desenvolvimento sobre o que atrapalhou ou ainda atrapalha o
      trabalho.
    </p>
    <p class="text-dark-gray">
      Como por exemplo, um imprevisto que desorganize o tempo reservado para
      determinada tarefa pode afetar o andamento das atividades da equipe,
      atrasando o processo e o alcance do objetivo.
    </p>
  </div>
</section>
{% endblock %}
