{% extends "page-template.html" %} {% block content %}
<div
  data-bs-spy="scroll"
  data-bs-target="#side-scrollspy"
  data-bs-offset="0"
  data-bs-smooth-scroll="true"
  class="scrollspy-example"
  tabindex="0"
>
  <h1 class="h2 text-darkest-gray mb-5">Incremento do Produto</h1>

  <section id="scrollspy-item-2">
    <p class="text-dark-gray">
     O Incremento do Produto é apresentado ao final normal do Sprint, ele é gerado, a partir dos itens do <a href="{{url_for('sprintBacklog')}}">Sprint Backlog</a> pelo <a href="{{url_for('papeis')}}">Time de Desenvolvimento</a> , e deve ser entregável, que representa um valor visível para os clientes do projeto.  Ser  entregável significa que nenhum trabalho adicional é necessário para que esse Incremento do Produto possa ser entregue aos clientes do projeto. Entregar ou não o Incremento ao final do Sprint, no entanto, é uma decisão de negócios e, mesmo que já seja possível, cabe ao <a href="{{url_for('papeis')}}">Product Owner</a> decidir quando fazê-lo.
    </p>
</div>
{% endblock %}
