{% extends "page-template.html" %} {% block content %}
<h1 class="h2 text-darkest-gray mb-5">Scrum Master</h1>
<div class="d-flex flex-column gap-1">
  <p class="text-dark-gray">
    O Scrum Master é o responsável por garantir que os impedimentos que o Time
    de Desenvolvimento encontre em seu trabalho sejam removidos, atuando quando
    necessário como um agente de mudança na organização. Esses impedimentos
    geram o risco de não se atingirem os objetivos.
  </p>
  <p class="text-dark-gray">
    O Scrum Master está presente e age como um facilitador em todas as reuniões
    do Scrum, facilita o trabalho do dia a dia do Time de Desenvolvimento e
    facilita as interações entre o Time de Desenvolvimento e o Product Owner.
  </p>
  <p class="text-dark-gray">
    Ele também ensina Scrum ao Time e a se auto-organizarem. O Scrum Master é
    tão neutro quanto possível e possui soft skills, ou seja, competências
    comportamentais e pessoais, para realizar seu trabalho.
  </p>
</div>
{% endblock %}
