{% extends "page-template.html" %} {% block content %}
<h1 class="h2 text-darkest-gray mb-5">Sprint Review</h1>
<section class="section-content" id="scrollspy-item-1">
  <div class="d-flex flex-column gap-1">
    <p class="text-dark-gray">
      A reunião de Sprint Review, é onde os resultados do trabalho realizado no
      Sprint são apresentados a clientes e demais partes interessadas, que
      oferecem seu feedback.
    </p>
    <p class="text-dark-gray">
      O Product Owner convida para a reunião de Sprint Review os clientes do
      projeto e demais pessoas relevantes que possam prover feedback sobre o que
      foi produzido durante o Sprint. Nessa reunião, o Time de Desenvolvimento e
      o Product Owner apresentam e demonstram para os presentes tudo o que foi
      produzido no Sprint
    </p>
  </div>
</section>
{% endblock %}
