{% extends "page-template.html" %} {%block content %}
<div
  data-bs-spy="scroll"
  data-bs-target="#side-scrollspy"
  data-bs-offset="0"
  data-bs-smooth-scroll="true"
  class="scrollspy-example"
  tabindex="0"
>
  <h1 class="h2 text-darkest-gray mb-5">Valores do Scrum</h1>

  <section class="section-content" id="scrollspy-item-1">
    <p class="text-dark-gray">
      Além dos princípios Ágeis, Scrum também tem o seu próprio conjunto de
      valores a serem seguidos. Eles complementam as regras do Scrum descritas
      em seus papéis, artefatos e eventos. Assim, os valores do Scrum
      representam os pilares para todo o trabalho realizado pelas pessoas que
      trabalham no projeto, ou seja, o time que desenvolve o produto e a pessoa
      de negócios que o define, chamada no Scrum de Product Owner.
    </p>

    <div class="container border rounded p-3 mt-4 mb-5">
      <small>
        Os cinco valores do Scrum são:
        <b>foco, coragem, fraqueza, compromisso e respeito</b>
      </small>
    </div>

    <ul class="list-group list-group-flush custom-list mb-5">
      <li class="list-group-item text-muted pt-3 pb-3">
        <b class="text-dark-gray">Foco:</b> os times mais produtivos trabalham
        em apenas um projeto de cada vez, evitando a multitarefa;
      </li>
      <li class="list-group-item text-muted pt-3 pb-3">
        <b class="text-dark-gray">Coragem:</b> as pessoas que trabalham no
        projeto têm coragem para aceitar a mudança como parte natural do
        processo de desenvolvimento do produto;
      </li>
      <li class="list-group-item text-muted pt-3 pb-3">
        <b class="text-dark-gray">Franqueza:</b> a franqueza ou transparência é
        necessária para que se possa realizar a inspeção e adaptação. Assim, o
        time busca melhorar sua forma de trabalhar a partir do feedback
        frequente de seus membros, o que cria visibilidade sobre os problemas e
        estimula a busca por soluções;
      </li>
      <li class="list-group-item text-muted pt-3 pb-3">
        <b class="text-dark-gray">Compromisso:</b> o time determina como seu
        trabalho será realizado, monitora seu progresso e realiza as correções
        de rumo que achar necessárias. Assim, é responsável e responsabilizado
        pelos seus resultados;
      </li>
      <li class="list-group-item text-muted pt-3 pb-3">
        <b class="text-dark-gray">Respeito:</b> os membros do time trabalham
        juntos, compartilhando responsabilidades, e assim ajudam-se uns aos
        outros em seu trabalho. Todos que trabalham no projeto respeitam as
        opiniões uns dos outros, ouvem e buscam entender os diferentes pontos de
        vista.
      </li>
    </ul>
  </section>
</div>

{% endblock %}
